n8n_ai_agent_workflow.json
[{"updatedAt":"2026-06-02T08:50:17.000Z","createdAt":"2026-05-22T16:06:29.229Z","id":"3ngLwcqxlAKWiuug","name":"ErgeneAI Instagram AI Agent Assistant","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"verifyToken":"150323","eventsToInclude":["messages","message_reactions"]},"type":"@mookielianhd/n8n-nodes-instagram.instagramTrigger","typeVersion":2,"position":[-1408,528],"id":"848179b5-91d1-421a-bae3-454962904b9b","name":"Instagram Trigger","webhookId":"bf78a9d0-f898-4bf4-9fec-dbdc7e413deb"},{"parameters":{"jsCode":"const data = $json;\nconst messaging = data.body?.entry?.[0]?.messaging?.[0] || data.entry?.[0]?.messaging?.[0] || data;\n\nconst page_id = data.id || data.recipient?.id || messaging.recipient?.id || '';\nconst sender_id = messaging.sender?.id || data.sender?.id || data.from?.id || '';\nconst recipient_id = messaging.recipient?.id || data.recipient?.id || '';\nconst message_text = messaging.message?.text || data.message?.text || data.text || '';\nconst message_id = messaging.message?.mid || data.message_id || '';\nconst is_echo = Boolean(messaging.message?.is_echo || data.message?.is_echo);\n\n// Instagram sends our own outgoing replies back as echo events. Do not answer ourselves.\nif (is_echo || (sender_id && page_id && sender_id === page_id)) {\n  return [];\n}\n\n// Ignore reactions, delivery/read events, and empty/non-text messages.\nif (!sender_id || !message_text.trim()) {\n  return [];\n}\n\nreturn [\n  {\n    json: {\n      sender_id,\n      recipient_id,\n      page_id,\n      message_text: message_text.trim(),\n      message_id,\n      channel: 'instagram',\n      brand: 'ErgeneAI'\n    }\n  }\n];"},"id":"da9825fd-174d-4f7f-82ba-e300c886dc44","name":"01 Normalize Instagram DM","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1104,528]},{"parameters":{"promptType":"define","text":"={{ $json.enriched_prompt }}","options":{"systemMessage":"Sen ErgeneAI'nin Instagram DM asistanisin. SADECE isletmelere yonelik yapay zeka ve otomasyon cozumleri hakkinda konus.\n\nONEMLI KURAL: ASLA teknik terim kullanma! Musteri n8n, Docker, VPS, API, LLM nedir bilmez. Bunlari ANMA. Bunun yerine hizmetin MUSTERIYE SAGLADIGI FAYDA ve SONUCTAN bahset.\n\nORNEK - KOTU (teknik): \"n8n ile otomasyon kuruyoruz, Docker uzerinde VPS altyapisi yonetiyoruz.\"\nORNEK - IYI (fayda odakli): \"Isinizdeki tekrarlayan manuel islemleri otomatige bagliyoruz. Size zaman ve para kazandiriyoruz.\"\n\nHIZMET TANITIMI (fayda odakli, tekniksiz):\n\n1) OZEL CHATBOTLAR\n- Web sitenize veya Instagram'iniza sizi tanitan, musterilerinize aninda cevap veren yapay zeka asistani koyariz.\n- Musterileriniz 7/24 destek alir, siz uyurken bile satis yaparsiniz.\n\n2) IS AKISI OTOMASYONLARI\n- E-posta gonderimi, musteri takibi, siparis yonetimi gibi tekrarlayan isleri otomatik yapariz.\n- Gunluk manuel is yukunuzu azaltiriz, siz isinize odaklanirsiniz.\n\n3) SOSYAL MEDYA VE MESAJLASMA OTOMASYONU\n- Instagram, WhatsApp, Telegram gibi platformlardan gelen mesajlara otomatik cevap veren sistem kurariz.\n- Hicbir musteri mesaji cevapsiz kalmaz.\n\n4) OZEL COZUMLER\n- Isinize ozgu her turlu dijital otomasyonu analiz eder, cozer ve kurariz.\n\nKONUSMA AKISI:\n\n[ILK MESAJ - 1. Kullanici Mesaji]\n- Kendini kisaca tanit\n- En temel 2 hizmeti MUSTERI DILIYLE ozetle (2 cumle max)\n- \"Size nasil yardimci olabilirim?\" diye sor\n\n[2. KULLANICI MESAJI]\n- Musterinin soyledigi konuda KISACA bilgi ver (2-3 cumle max)\n- Isletme turunu ve tam olarak neye ihtiyaci oldugunu sor\n\n[3. KULLANICI MESAJI - SON]\n- BUNDAN SONRA SORU SORMA! KONUSMAYI BITIR!\n- Musterinin ihtiyacini 1 cumleyle ozetle\n- HEMEN su yonlendirmeyi yap: \"Anladim, tam olarak {ihtiyac} konusunda yardimci olabiliriz. Bilal Bey sizinle bizzat ilgilenecek. 05520947032 numaramizdan kendisine ulasabilir veya sizi aramamizi isteyebilirsiniz.\"\n- Daha fazla soru sorma, konusmayi uzatma\n\nYONLENDIRME KURALLARI:\n- Musteri fiyat sorarsa HEMEN yonlendir, fiyat verme\n- Musteri detayli bilgi isterse HEMEN yonlendir\n- 3. kullanici mesajindan sonra KESINLIKLE yonlendir, soru sorma\n\nKISITLAMALAR:\n- TEKNIK TERIM KULLANMA (n8n, docker, vps, api, llm, backend, frontend, server, deployment, entegrasyon kelimeleri yasak!)\n- Fiyat VERME\n- SEO, reklam, web tasarim, grafik tasarim teklif etme\n- \"Merhaba\" ile baslama\n- Her mesaj max 3-5 cumle, kisa ve oz\n- 3. mesajdan sonra SORU SORMA, sadece yonlendir"}},"id":"e44a026c-e618-4d69-b643-7f11f5240aeb","name":"02 AI Agent - ErgeneAI Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-768,144]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{"temperature":0.4}},"id":"61fbe1cc-8a04-451b-9b0d-d7eedfad623e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-848,704],"credentials":{"openAiApi":{"id":"ti1fMYhhQaSigZRJ","name":"OpenAI account"}}},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"fbf2d0a8-7e5a-4578-9b9b-10e5faf185c1","name":"03 Merge Original DM + AI Reply","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-432,544]},{"parameters":{"resource":"messaging","node":"me","recipientId":"={{ $json.sender_id }}","messageText":"={{ $json.output }}"},"type":"@mookielianhd/n8n-nodes-instagram.instagram","typeVersion":1,"position":[-224,544],"id":"e35c8768-67b7-4360-b8dc-ecbe5cf70963","name":"Send direct message","credentials":{"instagramApi":{"id":"02bjCdmAe8eZwtfb","name":"Instagram account"}}},{"parameters":{"sessionKey":"sessionId"},"id":"d3fe8d88-3b8c-4959-853b-e01990caa6a8","name":"💭 Hafiza","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1,"position":[-688,784]},{"parameters":{"url":"http://10.0.2.1:8899/memory/get?senderId={{ $json.sender_id }}","sendHeaders":{"parameters":[]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1104,320],"id":"118ce80d-280b-4a00-9f3e-ad059cd551da","name":"GET Conversation Memory"},{"parameters":{"jsCode":"const memoryResponse = $input.first().json;\nconst history = memoryResponse.data || [];\nconst originalData = $('01 Normalize Instagram DM').first().json;\nlet historyContext = '';\nif (history.length > 0) {\n  historyContext = '=== ONCEKI KONUSMA GECMISI ===\\n';\n  history.forEach(function(entry) {\n    var role = entry.role === 'user' ? 'Musteri' : 'ErgeneAI';\n    historyContext += role + ': ' + entry.message + '\\n';\n  });\n  historyContext += '=== GECMIS SONU ===\\n\\n';\n  historyContext += 'YUKARIDAKI gecmisi dikkate al. Ayni bilgileri tekrar sorma. Kaldigin yerden devam et.\\n\\n';\n}\nvar enrichedPrompt = historyContext + 'MUSTERI MESAJI: ' + originalData.message_text;\nreturn [{\n  json: {\n    sender_id: originalData.sender_id,\n    recipient_id: originalData.recipient_id,\n    page_id: originalData.page_id,\n    message_text: originalData.message_text,\n    message_id: originalData.message_id,\n    channel: originalData.channel,\n    brand: originalData.brand,\n    enriched_prompt: enrichedPrompt,\n    memory_count: history.length,\n    memory_history: history\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,288],"id":"fb72fea5-147f-4dee-bb3d-1d75100c718d","name":"Enrich Context with Memory"},{"parameters":{"jsCode":"var aiOutput = $input.first().json;\nvar memoryHistory = $('Enrich Context with Memory').first().json.memory_history || [];\nvar reply = (aiOutput.output || '').toLowerCase();\nvar userMsg = ($('01 Normalize Instagram DM').first().json.message_text || '').toLowerCase();\nvar score = 'cold';\nvar signals = [];\nvar hotPatterns = ['randevu','gorusme','detayli bilgi','fiyat','ucret','hemen','acil','telefon','ulas','arayin','ariyorum','isterseniz','goruselim','toplanti','teklif'];\nvar warmPatterns = ['ilgileniyorum','istiyorum','dusunuyorum','guzel','harika','iyi olur','olabilir','belki','nasil oluyor','anlatir misin','bilgi verir','calisiyor','yardimci olur','faydali'];\nfor (var i = 0; i < hotPatterns.length; i++) {\n  if (reply.includes(hotPatterns[i])) { signals.push('yankida_' + hotPatterns[i]); break; }\n}\nfor (var i = 0; i < warmPatterns.length; i++) {\n  if (reply.includes(warmPatterns[i])) { signals.push('ilgi_' + warmPatterns[i]); break; }\n}\nfor (var i = 0; i < hotPatterns.length; i++) {\n  if (userMsg.includes(hotPatterns[i])) { signals.push('kullanici_' + hotPatterns[i]); break; }\n}\nvar hotCount = signals.filter(function(s) { return /randevu|fiyat|telefon|acil|teklif|gorus/.test(s); }).length;\nvar totalTurns = memoryHistory.length + 1;\nif (hotCount > 0 || totalTurns >= 6) { score = 'hot'; }\nelse if (signals.length > 0 || totalTurns >= 3) { score = 'warm'; }\nvar aiReply = '';\nif (typeof aiOutput.output === 'string') { aiReply = aiOutput.output; }\nelse if (aiOutput.output && typeof aiOutput.output === 'object') { aiReply = aiOutput.output.content || aiOutput.output.text || JSON.stringify(aiOutput.output); }\nreturn [{\n  json: {\n    sender_id: $('01 Normalize Instagram DM').first().json.sender_id,\n    recipient_id: $('01 Normalize Instagram DM').first().json.recipient_id,\n    page_id: $('01 Normalize Instagram DM').first().json.page_id,\n    message_text: $('01 Normalize Instagram DM').first().json.message_text,\n    message_id: $('01 Normalize Instagram DM').first().json.message_id,\n    channel: $('01 Normalize Instagram DM').first().json.channel,\n    brand: $('01 Normalize Instagram DM').first().json.brand,\n    output: aiReply,\n    lead_score: score,\n    lead_signals: signals.join(', '),\n    conversation_turns: totalTurns\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-816,480],"id":"609582a3-911f-4008-a0e9-5cf17edb2107","name":"Score Lead Quality"},{"parameters":{"jsCode":"// Save user msg and AI reply to memory server\nconst scoreData = $input.first().json;\nconst senderId = scoreData.sender_id;\nconst userMsg = scoreData.message_text;\nconst aiReply = scoreData.output;\n\nasync function saveMem(sid, msg, role) {\n  try {\n    const resp = await this.helpers.request({\n      method: 'POST',\n      url: 'http://10.0.2.1:8899/memory/save',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ senderId: sid, message: msg, role: role }),\n      json: true\n    });\n    return resp;\n  } catch (err) {\n    return { error: err.message };\n  }\n}\n\nconst userResult = await saveMem(senderId, userMsg, 'user');\nconst aiResult = await saveMem(senderId, aiReply, 'assistant');\n\nreturn [{\n  json: {\n    ...scoreData,\n    memory_save_user: userResult,\n    memory_save_ai: aiResult\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-336,256],"id":"39cf5386-318e-452e-b925-0e293f6b17c3","name":"Save Conversation to Memory"},{"parameters":{"jsCode":"const scoreData = $input.first().json;\nconst senderId = scoreData.sender_id;\nconst userMsg = scoreData.message_text;\nconst aiReply = scoreData.output;\nconst leadScore = scoreData.lead_score;\nconst turnCount = scoreData.conversation_turns;\nconst signals = scoreData.lead_signals;\n\n// Sadece yonlendirme yapildiysa bildirim gonder\nconst yonlendirmeKelimeleri = ['Bilal', '05520947032', 'ulasabilir', 'yonlendir', 'ilgilenecek', 'arayin', 'aramanizi', 'randevu'];\nconst yonlendirmeVar = yonlendirmeKelimeleri.some(function(k) {\n  return aiReply.toLowerCase().includes(k.toLowerCase());\n});\n\nif (!yonlendirmeVar) {\n  // Yonlendirme yok, bildirim gonderme - sadece datayi ilet\n  return [{ json: scoreData }];\n}\n\nlet emoji = '🔵';\nif (leadScore === 'hot') emoji = '🔥';\nelse if (leadScore === 'warm') emoji = '🟡';\nconst NL = String.fromCharCode(10);\nconst report = [\n  emoji + ' *Yeni Yonlendirme*',\n  '',\n  'Kullanici: ' + senderId,\n  'Skor: ' + leadScore + ' | ' + turnCount + ' mesaj',\n  '',\n  'Musteri: ' + userMsg,\n  'Yanit: ' + aiReply,\n  '',\n  'Sinyaller: ' + (signals || 'yok')\n].join(NL);\ntry {\n  var resp = await this.helpers.request({\n    method: 'POST',\n    url: 'https://api.telegram.org/bot8495399743:AAHUaoUp3lD_9cJ1b8fRj8p8dkCLT2_DWpw/sendMessage',\n    headers: { 'Content-Type': 'application/json' },\n    body: JSON.stringify({ chat_id: '5506784207', text: report }),\n    json: true\n  });\n  return [{ json: { ...scoreData, telegram_ok: true } }];\n} catch (err) {\n  return [{ json: { ...scoreData, telegram_err: err.message } }];\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,400],"id":"a7e45c21-7df5-40b7-a200-dc80954f00be","name":"Telegram Rapor Gonder"},{"parameters":{"jsCode":"// Kullanici mesajinda intent tespiti\nconst text = ($json.text || $json.body || $json.prompt || \"\").toLowerCase();\n\nlet intent = \"casual_chat\";\nlet payload = {};\n\nif (text.includes(\"kaydet\") || text.includes(\"not et\") || text.includes(\"hatirla\") || text.includes(\"unutma\")) {\n  intent = \"save_memory\";\n  payload = {\n    content: $json.text || $json.body || $json.prompt || \"\",\n    category: \"genel\"\n  };\n} else if (text.includes(\"ara\") || text.includes(\"bul\") || text.includes(\"ne yaziyordu\") || text.includes(\"soylemistin\")) {\n  intent = \"search_memory\";\n  payload = {\n    sorgu: $json.text || $json.body || $json.prompt || \"\",\n    limit: 3\n  };\n}\n\nreturn [{\n  json: {\n    ...$json,\n    _hermes: {\n      intent: intent,\n      payload: payload\n    }\n  }\n}];"},"id":"50b8832a-c966-447a-b9e4-01f624f8a907","name":"04 Intent Check","type":"n8n-nodes-base.code","typeVersion":2,"position":[-960,920]},{"parameters":{"dataType":"string","value1":"={{ $json._hermes.intent }}","routingRules":[{"value2":"save_memory","outputIndex":0},{"value2":"search_memory","outputIndex":1}],"fallback":{"outputIndex":3,"fallbackOutput":{"value":0}}},"id":"631ef0cb-9b35-418f-a1fc-d17a4a22efc9","name":"05 Switch (Intent Router)","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-768,920]},{"parameters":{"url":"http://host.docker.internal:8767/memory/save","authentication":"none","sendBody":true,"bodyParameters":{"parameters":[{"name":"content","value":"={{ $json._hermes.payload.content }}"},{"name":"category","value":"={{ $json._hermes.payload.category }}"}]},"options":{"timeout":5000}},"id":"e8330d15-b367-430c-b898-79f15f9fc0ae","name":"06 HTTP Save Memory","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,840]},{"parameters":{"url":"http://host.docker.internal:8767/memory/search","authentication":"none","sendBody":true,"bodyParameters":{"parameters":[{"name":"sorgu","value":"={{ $json._hermes.payload.sorgu }}"},{"name":"limit","value":"={{ $json._hermes.payload.limit }}"}]},"options":{"timeout":5000}},"id":"7227da0b-3afb-4f71-9481-ecfb642f2694","name":"07 HTTP Search Memory","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-560,1000]},{"parameters":{"jsCode":"return [{json: $json}];"},"id":"c0a7df88-7e9c-40a3-9020-b8319b982ce6","name":"08 Passthrough","type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,920]}],"connections":{"Instagram Trigger":{"main":[[{"node":"01 Normalize Instagram DM","type":"main","index":0}]]},"01 Normalize Instagram DM":{"main":[[{"node":"03 Merge Original DM + AI Reply","type":"main","index":0},{"node":"GET Conversation Memory","type":"main","index":0},{"node":"04 Intent Check","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"02 AI Agent - ErgeneAI Assistant","type":"ai_languageModel","index":0}]]},"02 AI Agent - ErgeneAI Assistant":{"main":[[{"node":"Score Lead Quality","type":"main","index":0}]]},"03 Merge Original DM + AI Reply":{"main":[[{"node":"Send direct message","type":"main","index":0}]]},"💭 Hafiza":{"ai_memory":[[{"node":"02 AI Agent - ErgeneAI Assistant","type":"ai_memory","index":0}]]},"GET Conversation Memory":{"main":[[{"node":"Enrich Context with Memory","type":"main","index":0}]]},"Enrich Context with Memory":{"main":[[{"node":"02 AI Agent - ErgeneAI Assistant","type":"main","index":0}]]},"Score Lead Quality":{"main":[[{"node":"Telegram Rapor Gonder","type":"main","index":0}]]},"Save Conversation to Memory":{"main":[[{"node":"03 Merge Original DM + AI Reply","type":"main","index":1}]]},"Telegram Rapor Gonder":{"main":[[{"node":"Save Conversation to Memory","type":"main","index":0}]]},"04 Intent Check":{"main":[[{"node":"05 Switch (Intent Router)","type":"main","index":0}]]},"05 Switch (Intent Router)":{"main":[[{"node":"06 HTTP Save Memory","type":"main","index":0}],[{"node":"07 HTTP Search Memory","type":"main","index":0}],[],[{"node":"08 Passthrough","type":"main","index":0}]]},"06 HTTP Save Memory":{"main":[[{"node":"08 Passthrough","type":"main","index":0}]]},"07 HTTP Search Memory":{"main":[[{"node":"08 Passthrough","type":"main","index":0}]]},"08 Passthrough":{"main":[[{"node":"Score Lead Quality","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"14e2f3fb-a6ab-44b6-842a-12731eae1bff","activeVersionId":"14e2f3fb-a6ab-44b6-842a-12731eae1bff","versionCounter":61,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-05-22T16:06:29.232Z","createdAt":"2026-05-22T16:06:29.232Z","role":"workflow:owner","workflowId":"3ngLwcqxlAKWiuug","projectId":"pW675UOqMsBdw4py","project":{"updatedAt":"2026-05-01T11:34:58.151Z","createdAt":"2026-05-01T11:33:47.587Z","id":"pW675UOqMsBdw4py","name":"Bilal ergenebilal@gmail.com <ergenebilal@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"786f0310-cd50-4a6a-97a0-ac51f842938b"}}],"versionMetadata":{"name":null,"description":null}}]